*{
    margin: 0;
    padding: 0;
}

table{
    border: 5px solid white;
    text-align: center;
    margin: auto;
    color: white;
}
th{
    background-color:darkmagenta;
    height: 20px;
    width: 00px;
    color: aliceblue;
}
tr{
    background-color:aliceblue;
    height: 100px;
    width: 100px;
    color: darkmagenta;
    font-weight: bold;
}

td{
    width: 100px;
}
#r1{
    background-color: darkmagenta;
    height: 50px;
    color: white;
}

[name = "color"]{
    background-color: orange;
    color: white;
}
[name="border"]{
    border: 2px dashed red;
}
[name="sport"]{
    background: url("./football.png");
    background-size: 100px 100px;
}
[name="header"]>h1{
    text-align: center;
    background-color: darkmagenta;
    height: 50px;
    color: white;
    font-size: 20px;
}